@import "./partials/general.css";

header{
    align-items: flex-end;
    width: 275px;
    margin-left: 60px;
}

#header-container{
    padding: 0 8px;
    height: 100%;
}

#header-logo {
    margin: 2px 0;
    height: 52px;
    min-width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition: background-color 0.2s;
    border-color: transparent;
    border-radius: 50%;
}

#header-logo:hover {
    background-color: var(--bg-hover);
}

main {
    width: 1050px;
    align-items: flex-start;
    justify-content: space-between;
}

#feed {
    max-width: 600px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

#sidebar {
    width: 350px;
    margin-right: 70px;
}

#logo {
    width: 24px;
    height: 2rem;
    color: var(--text-primary);
    display: block;
    stroke: var(--text-primary);
}

svg {
    color: var(--text-primary);
}

#header-navigation {
    margin-top: 2px;
    margin-bottom: 4px;
    width: 100%;
}

#header-navigation li {
    padding: 4px 0;
    width: 100%;
}

.header-button{
    display: flex;
    flex-direction: row;
    line-height: 24px;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    transition: background-color 0.2s;
    max-width: 100%;
    padding: 12px;
    background: transparent;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    width: fit-content;
    white-space: nowrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: hidden;
}

.header-button svg {
    width: 26.25px;
    height: 26.25px;
    flex-shrink: 0;
}

.active{
    font-weight: 700;
}

.header-button span {
    white-space: nowrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    min-width: 0;
    margin-left: 20px;
    margin-right: 16px;
}

.header-button:hover {
    background-color: var(--sidebar-hover);
}

#publish {
    margin: 16px 0;
    width: 90%;
    border: 1px solid transparent;
    background-color: var(--btn-black-bg);
    min-width: 52px;
    min-height: 52px;
    padding: 0 32px;
    cursor: pointer;
    border-radius: 9999px;
    transition: background-color 0.2s;
}

#publish button{
    border: none;
    background: transparent;
    color: var(--text-white);
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    font-family: inherit;
    white-space: nowrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    min-width: 0;
    cursor: pointer;
}

#publish:hover {
    background-color: var(--btn-black-hover);
    cursor: pointer;
}

#user-profile {
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: auto;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 9999px;
    background: transparent;
}

#user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#user-profile .user-info {
    max-width: 100%;
    margin: 0 12px;
    flex-shrink: 1;
}

#user-profile .user-info .user-name {
    line-height: 20px;
    font-weight: 700;
    font-size: 15px;
    white-space: nowrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#user-profile .user-info .user-handle {
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    font-feature-settings: 'ss01' on;
    color: var(--text-secondary);
    white-space: nowrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#user-profile svg {
    max-width: 100%;
    height: 1.25rem;
}

#user-profile:hover {
    background: var(--sidebar-hover);
}