@use 'variables' as *;

@font-face {
    font-family: 'TwitterChirp';
    src: url('../assets/font/Chirp-Regular.80fda27a.woff2') format('woff2');
    font-weight: $font-weight-regular;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TwitterChirp';
    src: url('../assets/font/Chirp-Medium.f8e2739a.woff2') format('woff2');
    font-weight: $font-weight-medium;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TwitterChirp';
    src: url('../assets/font/Chirp-Bold.ebb56aba.woff2') format('woff2');
    font-weight: $font-weight-bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TwitterChirp';
    src: url('../assets/font/Chirp-Heavy.f44ae4ea.woff2') format('woff2');
    font-weight: $font-weight-heavy;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: $font-primary;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-main);
    color: var(--text-primary);
}

img,
picture,
video,
canvas,
svg {
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

svg {
    fill: currentColor;
    color: var(--text-primary);
}


