@use 'variables' as *;
@use '../mixins/mixins' as *;

.app-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

main {
    display: flex;
    width: $main-width;
    height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    align-items: flex-start;
    justify-content: space-between;
    @include hide-scrollbar;
}

svg {
    color: var(--text-primary);
}


