@use 'variables' as *;
@use '../mixins/mixins' as *;

.user-profile-menu {
    position: fixed;
    z-index: $z-index-modal;
    background-color: #fff;
    border-radius: $border-radius-xl;
    box-shadow: 0px 0px 15px rgba(101, 119, 134, 0.2), 0px 0px 3px 1px rgba(101, 119, 134, 0.15);
    min-width: 260px;
    min-height: 30px;
    max-width: 360px;
    max-height: 480px;
    width: 300px;

    &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 150px;
        width: 20px;
        height: 20px;
        background-color: #fff;
        transform: rotate(45deg);
        box-shadow: 3px 3px 4px 0px rgba(101, 119, 134, 0.1);
    }

    &::before {
        content: '';
        position: absolute;
        bottom: -12px;
        left: 0;
        right: 0;
        height: 12px;
        background-color: transparent;
    }
}

.user-profile-menu-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: $spacing-4;
    border: none;
    background: transparent;
    word-wrap: break-word;
    cursor: pointer;
    text-align: left;
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
    line-height: 20px;
    color: #0f1419;

    span {
        word-wrap: break-word;
    }

    &:hover {
        background-color: #f7f9f9;
        border-radius: $border-radius-xl;
    }
}
